#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background: linear-gradient(45deg, #95b5e5, #3e81de, #115292, #252525, #080808);
  background-size: 400% 400%;
  animation: moveBackground 10s infinite linear;
}

@keyframes moveBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}




.research-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.icon {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.7;
  animation: floatAnimation linear infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(100vh) translateX(0) rotate(0deg);
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(-10vh) translateX(10vw) rotate(360deg);
    opacity: 0.5;
  }
}

.content {
  text-align: center;
}
.header {
  font-size: 2rem;

  transition: text-shadow 0.3s ease-in-out;
 
  width: 100%;
  color: white;
  z-index: 1000; 
}

.header:hover {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

.search-bar {
  padding: 10px;
  border: 2px solid gray;
  border-radius: 20px; /* Makes edges rounded */
  outline: none;
  width: 400px;
  height: 30px;
}

