#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



body {
  background: linear-gradient(45deg, #95b5e5, #3e81de, #115292, #252525, #080808);
  background-size: 400% 400%;
  animation: moveBackground 10s infinite linear;
}

@keyframes moveBackground {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


.header {
  font-size: 2rem;

  transition: text-shadow 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000; 
}

.header:hover {
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

.search-bar {
  padding: 10px;
  border: 2px solid gray;
  border-radius: 20px; /* Makes edges rounded */
  outline: none;
  width: 400px;
  height: 30px;
}